# Auto detect text files and perform LF normalization
* text=auto

# settings for Languages stats
*.[Rr]md linguist-detectable
*.do linguist-detectable linguist-language=Stata
*.dta linguist-vendored
*.mmat linguist-vendored
